<!DOCTYPE html>
<html lang="en">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Моя веб-страница ASP.NET — @Page.Title</title>
        <link href="@Href("~/Styles/Site.css")" rel="stylesheet" />
        <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <div id="page">
            <div id="header">
                <p class="site-title">Моя веб-страница ASP.NET</p>
                <div id="login">
                    @if (WebSecurity.IsAuthenticated) {
                        <p>
                            Добро пожаловать <a href="@Href("~/Account/ChangePassword")" title="Смена пароля">@WebSecurity.CurrentUserName</a>!
                            <a href="@Href("~/Account/Logout")">Выход</a>
                        </p>
                    } else {
                        <ul>
                            <li><a href="@Href("~/Account/Register")">Регистрация</a></li>
                            <li><a href="@Href("~/Account/Login")">Вход</a></li>
                        </ul>
                    }
                </div>
                <ul id="menu">
                    <li><a href="@Href("~/")">Домашняя страница</a></li>
                    <li><a href="@Href("~/About")">О программе</a></li>
                </ul>
            </div>
            <div id="main">
                <div id="content">
                    <h1>@Page.Title</h1>
                    @RenderBody()
                </div>
                <div id="footer">
                    &copy; @DateTime.Now.Year - Моя веб-страница ASP.NET Web Page
                </div>
            </div>
        </div>
    </body>
</html>